ion-header {
    ion-toolbar {
        --background: #0948ad;

        ion-menu-button {
            color: white;
        }

        ion-icon {
            color: white;
            margin-right: 10px;
        }
    }
}

.maps {
    text-align: justify;
    margin-top: 25px;
}

#myCanvas{
    margin-top: 50px;
}