<ion-app>
  <ion-split-pane contentId="main-content" *ngIf="!currentUserEmail;else loggedInContent">
    <ion-menu contentId="main-content" type="overlay" [swipeGesture]="false">
      <ion-content>
        <ion-list class="nav-header">
          <ion-list-header><ion-img src="assets/images/OnRouteX.png" size="small"></ion-img></ion-list-header>
          <p class="appname"><span id="OR">OnRoute</span><span id="X">X</span></p>
          <p *ngIf="currentUserEmail;" class="email">{{ currentUserEmail }}</p>

          <!-- <ng-template #notLoggedIn>
            testing
          </ng-template> -->

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label *ngIf="p.title !== 'Sign Out'">{{ p.title }}</ion-label>
              <ion-label *ngIf="p.title === 'Sign Out'" (click)="signOut()">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

<ng-template #loggedInContent>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [swipeGesture]="false">
      <ion-content>
        <ion-list class="nav-header">
          <ion-list-header><ion-img src="assets/images/OnRouteX.png" size="small"></ion-img></ion-list-header>
          <p class="appname"><span id="OR">OnRoute</span><span id="X">X</span></p>
          <p *ngIf="currentUserEmail;" class="email">{{ currentUserEmail }}</p>

          <!-- <ng-template #notLoggedIn>
            testing
          </ng-template> -->

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label *ngIf="p.title !== 'Sign Out'">{{ p.title }}</ion-label>
              <ion-label *ngIf="p.title === 'Sign Out'" (click)="signOut()">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ng-template>