<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Welcome!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-margin">
  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/loginheader.png"></ion-img>

    <ion-card-content>
      <form [formGroup]="validationFormUser" (ngSubmit)="LoginUser(validationFormUser.value)">
        <div class="wrapform">
          <ion-item>
            <ion-input type="email" name="email" formControlName="email" placeholder=" Email">
              <ion-icon name="mail-outline"></ion-icon>
            </ion-input>
          </ion-item>

          <!-- ERROR MESSAGE -->
          <ng-container *ngFor="let validation of validationMessages.email">
            <div class="error_message" *ngIf="validationFormUser.get('email')?.hasError(validation.type) && (validationFormUser.get('email')?.dirty || validationFormUser.get('email')?.touched)">
              {{validation.message}}
            </div>
          </ng-container>

          <ion-item>
            <ion-input type="password" name="password" formControlName="password" placeholder=" ************">
              <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-input>
          </ion-item>

          <!-- ERROR MESSAGE -->
          <ng-container *ngFor="let validation of validationMessages.password">
            <div class="error_message" *ngIf="validationFormUser.get('password')?.hasError(validation.type) && (validationFormUser.get('password')?.dirty || validationFormUser.get('password')?.touched)">
              {{validation.message}}
            </div>
          </ng-container>
        </div>

        <div class="password_forgot">
          <ion-button fill="clear" class="ion-no-padding">Forgot Password?</ion-button>
        </div>

        <div class="sign-btn-wrap">
          <ion-button shape="round" fill="solid" type="submit" class="sign-btn" [disabled]="!validationFormUser.valid">Login</ion-button>
        </div>

        <div class="social-btns">
          <ion-button fill="clear" class="facebookbtn ion-no-padding">
            <ion-img src="assets/images/facebook.png"></ion-img>
          </ion-button>
          <ion-button fill="clear" class="googlebtn ion-no-padding">
            <ion-img src="assets/images/google.png"></ion-img>
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>

  <div class="ion-card-footer">
    <span>Don't have an account?</span><button class="ion-no-padding" (click)="registerUser()">Sign Up</button>
  </div>
</ion-content>