<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bulletin Board</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spinner-overlay" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>

  <ion-card *ngFor="let bulletin of bulletins$ | async">
    <div class="actionbtn">
      <ion-fab size="small" vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button size="small" id="expand">
          <ion-icon size="small" name="ellipsis-vertical-outline"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="bottom">
          <ion-fab-button>
            <ion-button fill="clear" (click)="navigateToUpdate(bulletin.id)"><ion-icon name="create-outline"></ion-icon></ion-button>
          </ion-fab-button>
          <ion-fab-button>
            <ion-button fill="clear"><ion-icon color="success" name="archive-outline"></ion-icon></ion-button>
          </ion-fab-button>
          <ion-fab-button>
            <ion-button fill="clear" (click)="deleteBulletin(bulletin.id)" [disabled]="isLoading">
              <ion-icon *ngIf="!isLoading" color="danger" name="trash-outline"></ion-icon>
            </ion-button>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </div>

    <ion-card-header>
      <ion-card-subtitle>
        <h6 id="type">{{ bulletin.type }}</h6>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="nones">
        <ion-icon name="megaphone-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          {{ bulletin.title }}
          
          <p>{{ bulletin.datetime }}</p>
        </ion-label>
      </ion-item>

      <ion-item lines="nones">
        <ion-label>
          <div class="author" *ngIf="bulletin.exhibitor">
            <sup>Announced by {{ bulletin.exhibitor }}</sup>
          </div>

          <div class="author" *ngIf="!bulletin.exhibitor">
            <sup>N/A</sup>
          </div>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <div class="description">
            <p>{{ bulletin.description }}</p>
          </div>
        </ion-label>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label>
          <ion-button fill="clear" expand="full" color="success"> See all </ion-button>
        </ion-label>
      </ion-item>
          

    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="expand" size="small">
      <ion-icon name="apps"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="start">
      <ion-fab-button (click)="PathtoCreate()">
        <ion-button fill="clear"><ion-icon name="add"></ion-icon></ion-button>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
